<template>
    <div class="container">
        <b-alert variant="danger" v-if="error" show>{{error}}</b-alert>
        <div class="row justify-content-center">
            <div style="width: 80%; margin: 0 auto;">
                <div class="form-group">
                    <div class="large-12 medium-12 small-12 cell">
                        <label class="btn btn-outline-secondary">Files
                            <input type="file" class="form-control" @change="onFileChange">
                        </label>
                    </div>
                        <label style=" width: 100%;">Title:</label>
                        <input type="text" class="form-control" v-model.trim="$v.title.$model" name="title" />
                        <p v-if="!$v.title.required" style="color: red">{{ errors.title }}</p>
                        <label>Description:</label>
                        <textarea class="form-control" v-model="$v.description.$model" name="description"></textarea>
                        <p v-if="!$v.description.required" style="color: red">{{ errors.description }}</p>
                    <button class="btn btn-primary" @click="formSubmit" style="margin-top: 10px">Submit</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { required } from 'vuelidate/lib/validators';

    export default {
        mounted() {
            console.log(this.$v)
        },
        data() {
            return {
                errors:{
                    title:'',
                    description:'',
                    file:'',
                },
                title:'',
                description:'',
                form: new FormData,
                image: '',
                error:'',
            };
        },
        validations: {
            title: {
                required
            },
            description: {
                required
            },
        },
        methods: {
             onFileChange(e){
                console.log(e.target.files[0]);
                this.image = e.target.files[0];
            },
            formSubmit(e) {
                let valid=true;
                if(this.title===''){
                    valid=false;
                    this.errors.title='Title is required';
                }else{
                    this.errors.title='';
                }
                if(this.description===''){
                    valid=false;
                    this.errors.description='Description is required';
                }else{
                    this.errors.description='';
                }
                console.log(this.errors)
                if(valid) {
                    this.form.append('title', this.title);
                    this.form.append('description', this.description);
                    this.form.append('image', this.image);
                    const config = {headers: {'Content-Type': 'multipart/form-data'}};
                    axios.post('/api/posts', this.form, config)
                        .then(response => {
                            this.$router.push({name: 'posts.index'})
                        })
                        .catch(function (error) {
                            this.error = error.message
                        });
                    this.form = new FormData
                }
            },
        },
    }
</script>

<style scoped>

</style>
