<template>
    <div class="container">
        <div class="row justify-content-center">
            <div style="width: 80%; margin: 0 auto;">
                <b-alert variant="danger" v-if="error" show>{{error}}</b-alert>
                <div class="form-group">
                    <div class="large-12 medium-12 small-12 cell">
                        <label v-if="error" aria-disabled="true" class="btn btn-outline-secondary disabled">Files
                        </label>
                        <label v-else="true" class="btn btn-outline-secondary">Files
                            <input type="file" id="files" accept="image/*" multiple @change="onFileChange"/>
                        </label>
                    </div>
                    <label style=" width: 100%;">Title:</label>
                    <input type="text" v-if="error" class="form-control" disabled>
                    <input type="text" v-else="true" class="form-control" v-model="title">
                    <label>Description:</label>
                    <textarea v-if="error" class="form-control" disabled></textarea>
                    <textarea v-else="true" class="form-control" v-model="description"></textarea>

                    <button class="btn btn-primary" v-if="error" style="margin-top: 10px" disabled>Submit</button>
                    <button class="btn btn-primary" v-else="true" @click="formSubmit" style="margin-top: 10px">Submit</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            //
        },
        data(){
            return{
                id:'',
                post:[],
                 title: '',
                 description: '',
                form: new FormData,
                image: '',
                error:'',

            }
        },
        methods: {
            onFileChange(e){
                console.log(e.target.files[0]);
                this.image = e.target.files[0];
            },
            showData() {
                axios.get('/api/posts/'+this.$route.query.id+'/edit').then(response => {
                    if(response.status === 200)
                    {
                        let that=this;
                        this.post = response.data.post
                        this.title=this.post.title
                        this.description=this.post.description;
                    }
                }).catch((error) => {
                    console.log(error)
                    this.error = error.message
                })
            },
            formSubmit(e) {
                console.log(this.title)
                    this.form.append('title', this.title);
                    this.form.append('description', this.description);
                    this.form.append('image', this.image);
                    this.form.append("_method", 'patch');
                    const config = { headers: { 'Content-Type': 'multipart/form-data'} };
                axios.post('/api/posts/'+this.post.id, this.form)
                    .then(response => {
                            this.$router.push({name: 'posts.index'})
                        })
                        .catch(function (error) {
                            this.error = error.message
                        });
                    this.form = new FormData
                
            },
        },
        created() {
            this.showData()
        }
    }
</script>

<style scoped>

</style>
