<template>
    <div class="container">
        <b-alert variant="danger" v-if="error" show>{{error}}</b-alert>
        <p>
            <router-link to="/posts/create">Add New Post</router-link>
        </p>
            <div>
                <b-tabs content-class="mt-3">
                    <b-tab title="My Posts">
                        <div v-for="(post2, k2) in myPosts" v-bind:key="post2.id">
                            <div>
                                <ul class="list-unstyled">
                                    <b-media tag="li">
                                        <template v-slot:aside>
                                            <img class="image" :src="/upload/+post2.image"/>
                                        </template>
                                        <h4 class="media-heading">{{post2.title}}</h4>
                                        <p class="desc">{{post2.description}}</p>
                                        <p>
                                            <router-link :to="{ name: 'posts.show', query: { id: post2.id }}">See More</router-link>
                                        </p>
                                    </b-media>
                                </ul>
                            </div>
                        </div>
                    </b-tab>
                </b-tabs>
            </div>
    </div>
</template>

<script>
    import {tabs} from 'bootstrap-vue';
    export default {
        mounted() {

        },
        data(){
            return{
                posts: [],
                myPosts: [],
                error: '',
            }
        },
        methods: {
            fetchData() {
                axios.get('api/posts').then(response => {
                    if(response.status === 200)
                    {
                        console.log(response)
                        this.posts = response.data
                        this.allPosts = response.data.allPosts
                        this.myPosts = response.data.myPosts
                    }
                }).catch((error) => {
                    this.error = error.message
                })
            },
        },
        created() {
            this.fetchData();
        }
    }
</script>

<style>
.img-fluid{
    height: 100% !important;
}
.image{
    width:200px !important;
}
</style>
