<template>
    <div class="container">
        <b-alert variant="danger" v-if="error" show>{{error}}</b-alert>
        <div>
            <ul class="list-unstyled">
                <b-media tag="li">
                    <template v-slot:aside>
                        <img class="image" :src="/upload/+ image"/>
                    </template>
                    <h4 class="media-heading">{{post.title}}</h4>
                    <p class="desc">{{post.description}}</p>
                    <p>
                        <router-link class="btn btn-success" style="color:white" :to="{ name: 'posts.edit', query: { id: post.id}}">Edit</router-link>
                        <button @click="deletePost(post)" class="btn btn-danger" >Delete</button>
                    </p>
                </b-media>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            //
        },
        data(){
            return{
                id:'',
                post:[],
                error:'',
                image:'not-available.png',
            }
        },
        methods: {
            showData() {
                axios.get('/api/posts/'+this.$route.query.id).then(response => {
                    if(response.status === 200)
                    {
                        console.log(response)
                        this.post = response.data.post;
                        this.image=response.data.post.image
                    }
                }).catch((error) => {
                    this.error = error.message
                })
            },
            deletePost(item) {

                axios.delete('/api/posts/'+item.id).then(response => {
                    if(response.status === 200)
                    {
                        this.$router.push({ name: 'posts.index' })
                    }
                }).catch((error) => {
                    this.error = error.message
                })
            }
        },
        created() {
            this.showData();
        }
    }
</script>

<style>
    .img-fluid{
        height: 100% !important;
    }
    .image{
        width:200px;
    }
</style>
