<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <b-alert variant="danger" v-if="error" show>{{error}}</b-alert>
                <b-alert variant="danger" v-if="userError" show>{{userError}}</b-alert>
                <b-alert variant="danger" v-if="userError" show>{{userError}}</b-alert>
                <h1> Welcome!</h1>
                <h2>{{user.name}}</h2>
                <p>{{user.email}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                name: '',
                email: '',
                form: new FormData,
                error:'',
            };
        },
        components: {

        },
        methods: {
            
        },
        created() {
            //
        },
        computed: {
           ...mapGetters({
                // map `this.user` to `this.$store.getters.USER`
                user: 'USER',
               userError: 'USERERROR'
            })
        }
    }
</script>
<style>
    #picture-input{
        width: 200px !important;
        height: 200px !important;
        margin: 0px !important;
    }
    img{
        width: 100% !important;
    }
    .picture-inner{
        border: none !important;
        padding: 0px!important;
    }
    .picture-preview{
        background: none !important;
    }
    .preview-container{
        margin: 0px !important;
        border-radius: 50% !important;
        overflow: inherit !important;
    }
</style>
